.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input{
  height: 25px;
  font-size: 20px;
  border: none;
  border-bottom: 5px solid #61dafb;
}
button{
  height: 40px;
  font-size: 20px;
  /* border: none; */
  /* border-bottom: 5px solid #61dafb;*/
   color: white; 
  background-color: black
}
.groceydata{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.groceydata h1{
  margin: 10px;
}
  